.folder-item {
  position: relative;
  max-width: 10.5rem;
  min-width: 10.5rem;
  min-height: 14.5rem;
  transition: 0.3s;
  background-color: #00000005;
  display: inline-flex;
  flex-direction: column;
  border-radius: 6px;
  margin: 0 1rem 2rem 0;
  padding: 1.5rem .5rem 0.75rem .5rem;
  cursor: pointer;
  .v-icon {
    margin: 0;
  }
  span {
    text-align: center;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .selector {
    position: absolute !important;
    top: 0.75rem;
    right: 0.75rem;
  }
  &:hover {
    background-color: #00000020;
    border-radius: 6px;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  }
  &.active {
    background-color: #FFFFFF20;
    border-radius: 6px;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
    //color: var(--v-primary-base);
    font-weight: 500;
    & .v-icon:not(.selector) {
      color: var(--v-primary-base);
    }
  }
}
